<!DOCTYPE html>

<html>
{% load static %}
<head>
    <title>My blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  </head>

  <body>
    <div class="wrapper">
      <img src="{% static 'images\Meditation.png' %}" alt="Meditation picture">
      <h1>My blog</h1>
      <br><br>
      <h2>A creed for Dharma Revolutionaries</h2>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/y5saxBvOBxI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12">
          <div class="item">
            <h5>This is based on the public talk given at Padmaloka Buddhist Retreat Centre on 25th Feb 2023 (above)</h5>
            <br>
            <p>Dharma Revolutionaries are individuals who challenge societal norms and dedicate themselves to inner transformation and social change. Examples are the Buddha's 
            early disciples and more recent figures like Anagarika Dharmapala and Dr. Ambedkar. Ambedkar's motto of education, agitation, and organization is of fundamental importance 
            in creating lasting change. I propose a creed for Dharma Revolutionaries that includes renouncing selfish victories, acting with conviction and purpose, embracing the tension 
            between withdrawal and involvement, cultivating inner stillness, and approaching life with a sense of lightness and curiosity.</p>

            <p>Dharma activism is not just about transforming the world, but also about cultivating individuality. I suggest two ways to do this: by embracing the tension between 
            withdrawal and involvement and by cultivating the Five Spiritual Faculties - faith, energy, mindfulness, concentration, and wisdom. By emphasizing the importance of a 
            spiritual approach to social and political activism, grounded in compassion, wisdom, and mutual support. They encourage us to be Dharma Revolutionaries in our own lives, 
            dedicated to the welfare of all beings and committed to the pursuit of spiritual freedom and social justice.</p>

            <p><strong>A Creed for Dharma Revolutionaries:</strong></p>

            <p><strong>Forgo Victories (Saddha)</strong> - Renounce selfish victories and worldly desires, and instead dedicate yourself to the victory of all beings in their quest for awakening. 
            This means letting go of attachment to outcomes and the need to control or dominate others.</p>
              
            <p><strong>Act with Conviction (Viriya)</strong> - Embrace a life of purpose and action, and remain steadfast in your commitment to the Dharma and the welfare of all beings, with 
            unwavering conviction and a fearless heart. This means acting with courage and determination, even in the face of obstacles or opposition.</p>
              
            <p><strong>Hold the Creative Tension (Sati)</strong> - Embrace the paradox of withdrawal and involvement, cultivating wisdom and compassion in equal measure, until they fuse and burst 
            forth into the Bodhicitta. This means embracing the tension between withdrawal and involvement, between the wisdom and compassion aspects of the spiritual life.</p>
              
            <p><strong>Aloneness is Your Dwelling (Samadhi)</strong> - Cultivate a deep, unshakable sense of inner stillness and peace, even in the midst of chaos and change. This means developing a 
            deep, unshakable concentration that allows us to see reality as it is.</p>
              
            <p><strong>Be Playful with Reality (Panna)</strong> - Approach life with a sense of lightness and curiosity, developing discernment and insight, by letting go of fixed views and opinions, 
            and recognizing that ultimate reality is too vast and profound to be fully understood or encapsulated by provisional concepts or beliefs. This means cultivating a sense 
            of curiosity and wonder about the world and our place in it, and being open to questioning our assumptions and beliefs.</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <p>More content coming soon...</p>
    <br><br>
  </body>
</html>