<!DOCTYPE html>

<html>
{% load static %}
<head>
    <title>Buddhist Goddesses Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <h1>The Online Host of Dakinis and Female Buddhas</h1>
	  <br>
      	<div class="row">
        	<div class="col-md-4">
          		<div class="item">
            		<img src="{% static 'images/AntiguaVajrayogini.jpg' %}" alt="Product 1">
            		<h2><a target="_blank" href="https://www.etsy.com/uk/listing/1146740503/antique-vajrajogini-tantric-buddhism?gpla=1&gao=1&&utm_source=google&utm_medium=cpc&utm_campaign=shopping_uk_en_gb_a-home_and_living-spirituality_and_religion-religious_statuary&utm_custom1=_k_Cj0KCQiAx6ugBhCcARIsAGNmMbgNn0xDP9pfMfiMjOnvcZns0rRP3wrvtQJlAZxJGMHhbTllhS9KpWoaAj4bEALw_wcB_k_&utm_content=go_12604174069_122593688129_508814347172_aud-1183050946056:pla-302897471256_c__1146740503engb_561753371&utm_custom2=12604174069&gclid=Cj0KCQiAx6ugBhCcARIsAGNmMbgNn0xDP9pfMfiMjOnvcZns0rRP3wrvtQJlAZxJGMHhbTllhS9KpWoaAj4bEALw_wcB">Antique Vajrayogini</a></h2>
            		<p>£151.57</p>
            		<button>Buy</button>
          		</div>
        	</div>
        	<div class="col-md-4">
          		<div class="item">
            		<img src="{% static 'images/GreenTara.jpg' %}" alt="Product 2">
	      			<h2><a target="_blank" href="https://buddhistimages.co.uk/product/green-tara-47/">Green Tara</a></h2>
	      			<p>£95</p>
	      			<button>Buy</button>
	    		</div>
			</div>
			<div class="col-md-4">
	    		<div class="item">
					<img src="{% static 'images/Kurukulla.jpg' %}" alt="Product 3">
					<h2><a target="_blank" href="https://www.christies.com/lot/a-gilt-bronze-figure-of-kurukulla-tibet-2007078/?intObjectID=2007078&lid=1">Kurukulla</a></h2>
					<p>Price realised £41,012.63</p>
					<button><a target="_blank" href="https://www.christies.com/en/services/client-advisory">Contact Christie's</a></button>
	    		</div>
	  		</div>
	  		<div class="col-md-4">
	    		<div class="item">
					<img src="{% static 'images/NagaKanya.jpg' %}" alt="Product 4">
					<h2><a target="_blank" href="https://evamratna.com/products/naga-kanya-statue">Naga Kanya</a></h2>
					<p>£706.40</p>
					<button>Buy</button>
	    		</div>
	  		</div>
	  		<div class="col-md-4">
	    		<div class="item">
					<img src="{% static 'images/Cyberpunk_Dakini.jpg' %}" alt="Product 5">
					<h2><a target="_blank" href="https://www.etsy.com/uk/listing/726700499/cyberpunk-dakini-figurine-16?gpla=1&gao=1&&utm_source=google&utm_medium=cpc&utm_campaign=shopping_uk_en_gb_a-art_and_collectibles-sculpture-other&utm_custom1=_k_Cj0KCQiAx6ugBhCcARIsAGNmMbhn7cjkXgU3bypk0bkdRatALeSouOIf4yACG1BYpB-0R4r2_bdFkeEaAg8dEALw_wcB_k_&utm_content=go_12577610529_122491526391_507694189868_aud-1183050946056:pla-354542145511_c__726700499engb_102858184&utm_custom2=12577610529&gclid=Cj0KCQiAx6ugBhCcARIsAGNmMbhn7cjkXgU3bypk0bkdRatALeSouOIf4yACG1BYpB-0R4r2_bdFkeEaAg8dEALw_wcB">Cyberpunk Dakini</a></h2>
					<p>£304.71</p>
					<button>Buy</button>
	    		</div>
	  		</div>
			<div class="col-md-4">
	    		<div class="item">
					<img src="{% static 'images/Simhamukha.jpg' %}" alt="Product 6">
					<h2><a target="_blank" href="https://www.dharmasculpture.com/statue/9n22-enlightened-dakini-simhamukha-buddhist-statue.html">Simhamukha</a></h2>
					<p>£3,552.81</p>
					<button>Buy</button>
	    		</div>
	  		</div>
			<div class="col-md-4">
	    		<div class="item">
					<img src="{% static 'images/Ushnisaviajaya.jpg' %}" alt="Product 7">
					<h2><a target="_blank" href="https://www.etsy.com/uk/listing/1354926498/namgyalma-statuette-handmade-sculpture?gpla=1&gao=1&&utm_source=google&utm_medium=cpc&utm_campaign=shopping_uk_en_gb_a-home_and_living-home_decor-statues&utm_custom1=_k_Cj0KCQiA6rCgBhDVARIsAK1kGPLb6osoG528gHu4dVXlExw7kOzV0iCFIc8VqcgsCYz4EdxsgS13B0IaArgUEALw_wcB_k_&utm_content=go_12604174069_122593691009_508814347400_aud-1186559235309:pla-304966198231_c__1354926498engb_482646479&utm_custom2=12604174069&gclid=Cj0KCQiA6rCgBhDVARIsAK1kGPLb6osoG528gHu4dVXlExw7kOzV0iCFIc8VqcgsCYz4EdxsgS13B0IaArgUEALw_wcB">Ushnisaviajaya</a></h2>
					<p>£1,194.23</p>
					<button>Buy</button>
	    		</div>
			</div>
			<div class="col-md-4">
	    		<div class="item">
					<img src="{% static 'images/Vajrayogini 3.jpg' %}" alt="Product 8">
					<h2><a target="_blank" href="https://buddhistimages.co.uk/product/vajrayogini-statue-40cm/">Fully gold plated Copper Vajrayogini</a></h2>
					<p>£445</p>
					<button>Buy</button>
	    		</div>
	  		</div>
	  		<div class="col-md-4">
	    		<div class="item">
					<img src="{% static 'images/PaintedVajrayogini.jpg' %}" alt="Product 9">
					<h2><a target="_blank" href="https://www.lotussculpture.com/vibrant-painted-copper-dancing-dakini-statue-with-firey-arch-and-staff.html">Painted Vajrayogini</a></h2>
					<p>£6,647.57</p>
					<button>Buy</button>
	    		</div>
			</div>
	  		<div class="col-md-12">
	    		<div class="item">
					<img src="{% static 'images/Sukhasiddhi.jpg' %}" alt="Product 10">
					<h2><a target="_blank" href="https://www.etsy.com/uk/listing/1265388050/sukhasiddhi-statue-a-yogini-and-master?click_key=2144467e2159af197c9594ac145e3319e8541353%3A1265388050&click_sum=88573b29&external=1&rec_type=ss&ref=pla_similar_listing_top-8&frs=1&sts=1">Sukhasiddhi</a></h2>
					<p>£2,349.08</p>
					<button>Buy</button>
	    		</div>
	  		</div>
		</div>
    </div>
    <footer>
  	<div class="container">
    	  <form>
	    <input type="text" placeholder="Enter your name" required>
	    <input type="email" placeholder="Enter your email" required>
	    <input type="tel" placeholder="Enter your phone number" required>
	    <button type="submit">Submit</button>
        </form>
        <img src="{% static 'images/BuddhaLogo.jpg' %}" alt="Company logo">
      </div>
    </footer>
  </body>
</html>

